.JwPp0e {
	background-color: #1b182c;
}

.kj3hr{
	background-color: transparent;
}

.Mtd4hb {
	background-color: #1b182c;
}

.TQYOZc {
	background-color: #1b182c;
}

.SZ0kZe {
	background-color: #1b182c;
}

.XIpEib {
	background-color: #1b182c;
}
