body {
	background-color: #1b182c !important;
	color: #cbe3e7 !important;
}

#header {
	background-color: #1b182c !important;
	color: #cbe3e7 !important;
}

#menu {
	background-color: #65b2ff !important;
	border-top: 1px solid  #91ddff !important;
	border-bottom: 1px solid #91ddff !important;
}

#menu a {
	color: #fff !important;
}

a {
	color: #91ddff !important;
}
